body{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font-size: 16px;
	background: #f2f2f2;
	color: #444444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
	color: #8a1c1c;
	text-decoration: none;
}

a:hover {
	color: #3b0808;
}

h1,h2,h3 {
	line-height:1.2;
}
h4 {
	line-height:1.2;
}

nav {
	margin-top: 8px;
	text-align: center
}

nav a {
	color: #5c5c5c;
	text-align: center;
	padding: 4px 8px;
	text-decoration: none;
}

nav a:hover {
	color: #1f1f1f;
}

hr {
	border-top: 1px dashed;
}

.logo {
	width: 128px;
	height: 128px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.timestamp{
	float: right;
	font-size: .85em;
	margin :+1em .5em 0 0
}

.footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@media print{
	body{
		max-width:none
	}
}
